<form asp-action="Index">
    <label>Nhập Person ID</label>
    <input type="text" name="PersonID">
    <label>Nhập họ tên:</label>
    <input type="text" name="FullName">
    <label>Nhập địa chỉ:</label>
    <input type="text" name="Address">
    <input type="submit" name="Gửi">
</form>

<h2>@ViewBag.Send</h2>